@{
  Layout = "_Layout";
}

<h1>Eau Claire's Hair Salon</h1>

<h2>Sylist & Client Tracking System</h2>

<hr>

<p>@Html.ActionLink("List of Stylists", "Index", "Stylists")</p>

<p>@Html.ActionLink("List of Clients", "Index", "Clients")</p>